

*{margin:0;padding:0;}
body{animation: animatee 15s ;animation-iteration-count: infinite;animation-direction:alternate;
background-image:url("images/IMG_20170621_221335.JPG");background-repeat:no-repeat;
background-size:cover;}


@keyframes animatee{


0%,100%{
background-image:url("images/IMG_20170621_221335.JPG");

}
25%{background-image:url("images/IMG_20170621_221335.JPG");}



50%{background-image:url("images/PicsArt_02-12-07.54.13.jpg");}



100%{background-image:url("images/PicsArt_02-12-07.54.13.jpg");}
}







section{
	width:1200px;
height:100vh;
margin:10px;


}




header{
	width:1200px;



}

header .logo_side{

width:350px;display:inline-block;
}


header h3{text-align:center;}
header h3 a{

	text-decoration:none;font-weight:bold;font-size:20px;
}


header .nav_side{

width:750px;display:inline-block;}

header ul{
list-style-type:none;


}
header ul li{
display:inline-block;padding:0px 16px;
}

header ul li a{
	text-decoration:none;color:#0083FE;display:block;

}

ul li:hover{

	background-color:#551A9A;color:white;
	font-size:10px;
	transition:all 1s;
	border-radius:50%;
}



@keyframes animate{


0%,100%{
background-image:url("images/IMG_20170621_221335.JPG");

}
25%{background-image:url("images/IMG_20170621_221335.JPG");}



50%{background-image:url("images/PicsArt_02-12-07.54.13.jpg");}



100%{background-image:url("images/PicsArt_02-12-07.54.13.jpg");}
}




.myimg{
animation: animate 15s ;animation-iteration-count: infinite;animation-direction:alternate;
background-image:url("images/IMG_20170621_221335.JPG");
background-size:cover;
	width:350px;float:left;
	height:400px;border-radius:50%;
}


#section{
line-height:40px;
width:400px;
text-align:center;

	margin-top:70px;
}
#h1{
font-size:20px;color:#8EF099;
}